go/
dconf/
*.mimetypes
Signal/
langchain/
vlc/
QtProject.conf
pulse/
cura/
Joplin/
Logseq/
godot/
joplin-desktop/
obsidian/
hidden.*
chromium/
label-studio/
session/
LM Studio/
Electron/
Docker\ Desktop/
calibre/
systemd/
*.pem
nix/workspace/*
